.svg {
    width: 24px;
    height: 24px;
    fill: #666666;
    transition: all .5s ease-out;
}
.svg:hover {
    fill: #4270AD;
}

@media screen and (max-width: 900px) {
    .svg {
        width: 20px;
        height: 20px;
    }
}