.cardContainerBlock {
    position: relative;
    margin-bottom: 30px;
}

.cardContainerBlock:last-of-type {
    margin-bottom: 0;
}

.cardContainer {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border: 1px solid #C4C4C4;
}

.cardHeader {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    padding: 0 60px 0 26px;
    background-color: #F5F5F5;
    border-radius: 5px 5px 0 0;
}

.cardHeaderTitleContainer {
    display: flex;
    align-items: center;
}

.cardHeaderLogo {
    width: 30px;
    height: 30px;
    margin-right: 20px;
}

.cardHeaderTitle {
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    color: #000000;
}

.btnClose {
    position: absolute;
    right: 19px;
    top: 19px;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer
}

.btnCloseIcon {
    width: 14px;
    height: 14px;
}

.cardBody {
    display: flex;
    background-color: #fff;
    padding: 30px 20px 30px 30px;
    border-radius: 0 0 5px 5px;
}

.cardItemImg {
    width: 215px;
    height: 157px;
    align-self: stretch;
    margin-right: 30px;
    border-radius: 5px;
}

.cardItemInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.cardItemTitleContainerLg {
    display: block;
}

.cardItemTitleContainerSm {
    display: none;
}

.cardItemTitle {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    margin-bottom: 10px;
}

.cardItemDescription {
    font-size: 14px;
    line-height: 21px;
    color: #000000;
}

.cardBodyFooter {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cardBodyFooterWaitingPayment {
    flex-direction: row;
}

.cardItemPrice {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #666666;
}

.cardItemPrice:last-of-type {
    color: #000000;
}

.cardItemPrice span {
    font-size: 12px;
    line-height: 14px;
    font-weight: 500;
    color: #666666;
    margin-right: 10px;
}

.cardBodyFooterWaitingPayment .cardItemPrice {
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 0;
}

.cardBodyFooterWaitingPayment .cardItemPrice span {
    margin-right: 0;
    margin-bottom: 13px;
}

.cardItemDeliveryContainer {
    display: flex;
    align-items: flex-start;
    margin-top: 10px;
}

.cardItemDeliveryInfo {
    display: flex;
    flex-direction: column;
    margin-right: 40px;
}

.cardItemDeliveryInfo:last-of-type {
    margin-right: 0;
}

.cardItemDeliveryInfo p {
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    color: #696969;
    margin-bottom: 8px;
}

.cardItemDeliveryInfo span {
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    color: #000000;
}

.btnsContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.btnsContainer button:last-of-type {
    margin-left: 10px;
}

.test {
    display: flex;
}


@media screen and (max-width: 900px) {
    .cardContainerBlock {
        margin-bottom: 20px;
    }

    .cardContainer {
        width: 100%;
    }

    .cardHeader {
        flex-direction: column;
        align-items: flex-start;
        justify-content: unset;
        height: auto;
        padding: 15px 30px 10px 9px;
    }

    .cardHeaderTitleContainer {
        order: 1
    }

    .btnClose {
        top: 9px;
        right: 9px;
    }

    .cardBody {
        flex-direction: column;
        padding: 15px 10px 20px;
    }

    .cardItemImg {
        width: 102px;
        height: 74px;
        margin-right: 10px;
    }

    .cardItemInfo {
        margin-top: 15px;
    }

    .cardItemTitleContainerLg {
        display: none;
    }

    .cardItemTitleContainerSm {
        display: block;
    }

    .cardItemTitle {
        font-size: 12px;
        line-height: 14px;
        margin-bottom: 5px;
    }

    .cardItemDescription {
        font-size: 12px;
        line-height: 14px;
    }

    .cardItemDeliveryContainer {
        margin-top: 0;
        margin-bottom: 10px;
    }

    .cardItemDeliveryInfo {
        width: 50%;
        margin-right: 0;
    }

    .cardItemDeliveryInfo p {
        font-size: 12px;
        line-height: 14px;
    }

    .cardItemDeliveryInfo span {
        font-size: 14px;
        line-height: 16px;
    }

    .cardBodyFooter {
        flex-wrap: wrap;
        align-items: center;
    }

    .cardBodyFooterWaitingPayment>* {
        margin-bottom: 10px;
    }

    .cardBodyFooterWaitingPayment .cardItemPrice {
        justify-content: flex-end;
        width: 50%;
        margin-bottom: 12px;
    }

    .btnsContainer {
        flex-direction: column;
    }

    .btnsContainer button:last-of-type {
        margin-left: 0;
    }

    .cardBodyFooterFinished .cardItemPrice:last-of-type span{
        margin-bottom: 0;
    }

    .cardBodyFooterWithTracker .btnsContainer button:first-of-type {
        display: none;
    }

    .cardItemPrice {
        width: 100%;
        justify-content: flex-start;
        margin-bottom: 15px;
        font-size: 16px;
        line-height: 19px;
    }

    .cardItemPrice:last-of-type {
        font-size: 20px;
        line-height: 24px;
    }

    .cardBodyFooterWithTracker  .cardItemPrice:nth-child(2) {
        order: 0;
    }

    .cardBodyFooterWithTracker  .cardItemPrice:nth-child(3) {
        order: 1;
    }

    .cardBodyFooterWithTracker  .cardItemPrice:nth-child(4) {
        order: 3;
        /* margin-bottom: 0; */
    }

    .cardBodyFooterWithTracker  .cardItemPrice span {
        margin-bottom: 1px;
    }

    .cardBodyFooterWithTracker  .cardItemPrice:last-of-type span {
        margin-bottom: 5px;
    }
}