.container {
  padding: 0 115px;
  margin-top: 35px;
}

.mainFilterButtonsContainer {
  display: flex;
  width: 100%;
  height: 60px;
  background: #FFFFFF;
  border-radius: 5px;
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.1);
}

.mainFilterButton {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 240px;
  height: inherit;
  background: transparent;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.mainFilterButton:hover {
  background-color: #F5F5F5;
}

.mainFilterButton p {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #4270AD;
  margin-left: 15px;
}

.mainFilterButton svg path {
  fill: #4270AD;
}

.mainFilterButtonActive {
  background-color: #4270AD;
}

.mainFilterButtonActive:hover {
  background-color: #4270AD;
}

.mainFilterButtonActive p {
  color: #FFFFFF;
}

.mainFilterButtonActive svg path {
  fill: #FFFFFF;
}

.subFilterButtonsContainer {
  margin-top: 20px;
}
.subFilterButtonsList {
  display: flex;
  flex-wrap: wrap;
  padding: 45px 15px 25px 30px;
  max-height: 148px;
  overflow-y: auto;
  background-color: #F5F5F5;
  border-radius: 5px;
  list-style-type: disclosure-closed;
}

.subFilterButtonsList::-webkit-scrollbar {
  width: 5px;
  background-color: #FFFFFF;
  border-radius: 5px;
}

.subFilterButtonsList::-webkit-scrollbar-thumb {
  background-color: #C4C4C4;
  border-radius: 5px;
}

.subFilterButtonsList li {
  width: calc(100% / 3);
  margin-bottom: 20px;
}

.subFilterButtonsList li::marker {
  font-size: 12px;
  list-style: 8px;
  color: #C4C4C4;
}

.subFilterButtonsList li a {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

@media screen and (max-width: 900px) {
  .container {
    padding: 0;
    margin-top: 0;
  }

  .mainFilterButtonsContainer {
    flex-direction: column;
    height: auto;
  }

  .mainFilterButton {
    width: 100%;
    height: 60px;
    justify-content: flex-start;
    border-radius: unset;
    padding: 0 0 0 30px;
  }
  .subFilterButtonsContainer {
    margin-top: 30px;
    padding: 0 20px;
  }
  .subFilterButtonsList {
    padding: 30px 20px 20px 30px;
    max-height: 256px;
  }
  .subFilterButtonsList li {
    width: 100%;
    margin-bottom: 18px;
  }
  .subFilterButtonsList li:last-of-type {
    margin-bottom: 0;
  }
}