.svg {
    width: 55px;
    height: 55px;
    fill: none;
}
.svg path {
    stroke: #666666;
    transition: all .5s ease-out;
}
.svg:hover path  {
    stroke: #4270AD;
}

@media screen and (max-width: 900px) {
    .svg {
        width: 32px;
        height: 32px;
    }
}