@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
    --color-white: #fff;
    --color-black: #000;
    --color-gray: #666;
    --color-orange: #FF9900;

    --font-size-smallest: 10px;
    --font-size-small: 12px;
    --font-size-medium: 14px;
    --font-size-large: 16px;
    --font-size-largest: 18px;
    --font-size-huge: 20px;

    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 700;

    --line-height-tiny: 12px;
    --line-height-littlest: 14px;
    --line-height-little: 16px;
    --line-height-smallest: 18px;
    --line-height-small: 19px;
    --line-height-medium: 20px;
    --line-height-large: 21px;
    --line-height-largest: 23px;
    --line-height-huge: 24px;
}

*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}
