/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap'); */

:root {
    --color-white : #fff;
    --color-black : #000;
    --color-gray  : #666;
    --color-orange: #FF9900;
    --color-blue  : #4270AD;
    --color-green-secondary: #27AE60;
    --bgc-button:#4270AD;
    
    --font-size-smallest: 10px;
    --font-size-small   : 12px;
    --font-size-medium  : 14px;
    --font-size-large   : 16px;
    --font-size-largest : 18px;
    --font-size-huge    : 20px;

    --font-weight-regular: 400;
    --font-weight-medium : 500;
    --font-weight-bold   : 700;

    --line-height-tiny    : 12px;
    --line-height-littlest: 14px;
    --line-height-little  : 16px;
    --line-height-smallest: 18px;
    --line-height-small   : 19px;
    --line-height-medium  : 20px;
    --line-height-large   : 21px;
    --line-height-largest : 23px;
    --line-height-huge    : 24px;
}

*,
*:before,
*:after {
    padding   : 0;
    margin    : 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* Disable Mui button click animation */
.MuiTouchRipple-root {
    display: none;
}

/* Tabs */
.MuiTabs-root .MuiButtonBase-root {
    font-family: 'Roboto', sans-serif;
    font-size: var(--font-size-large);
    font-weight: var(--font-weight-regular);
    line-height: var(--line-height-smallest);
    letter-spacing: initial;
    text-transform: initial;
    white-space: nowrap;
    min-width: 40px;
    /* max-width: 145px; */
    max-height: 45px;
    padding: 10px 20px;
    /* margin-left: 20px; */
    color: var(--color-gray);
}
.MuiTabs-root .MuiButtonBase-root:first-of-type {
    margin-left: 0;
}

.MuiTabs-root .MuiButtonBase-root label {
    /* width: 120px; */
}

.MuiTabs-root .MuiButtonBase-root.Mui-selected {
    font-weight: var(--font-weight-bold);
    color: var(--color-black)
}
.MuiTabs-indicator {
    border-radius   : 10px;
    background-color: var(--color-blue);
}


/* Badge */
.MuiBadge-root {
    /* padding: 0 20px; */
}
.MuiBadge-root .MuiBadge-badge{
    font-family: 'Roboto', sans-serif;
    font-size: var(--font-size-smallest);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-tiny);
    letter-spacing: initial;
    text-transform: initial;
    white-space: nowrap;
    width: 19px;
    height: 19px;
    background-color: var(--color-green-secondary);
    color: var(--color-white);
    top: -5px;
    right: -9px;
}