.logoWhite {
    width: 123px;
    height: 43px;
    margin-bottom: 40px;
}

.logoBlue {
    width: 184px;
    height: 67px;
}

@media (max-width: 900px) {
    .logoWhite {
        width: 103px;
        height: 40px;
        margin-bottom: 0;
    }
    .logoBlue {
        width: 105px;
        height: 38px;
    }
}
