.container{
    width: 95%;
    margin: 0 auto;
    /*background: red;*/
}
.titleFilters{
    font-size: 20px;
    font-weight: 700;
    margin-top: 40px;
    margin-bottom: 20px;
}
.titlePrice{
    color: #666666;
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 17px;
}
.rowFilters{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 37px;
}
.priceFilter{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.priceFilter label{
    width: 140px;
    height: 50px;
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 5px;
    display: flex;
    align-items: center;
    /*justify-content: space-between;*/
    padding: 0 9px 0 20px;
}
.priceFilter span{
    width: 32px;
    height: 32px;
    border-radius: 30px;
    border: 1px solid #C4C4C4;
    /*display: flex;*/
    /*align-items: center;*/
    /*justify-content: space-between;*/
    padding: 8px;
}

.priceFilter input{
    border:none;
    background: transparent;
    padding: 0 10px ;
    width: 60px;
}
.applyFilterPrice{
    width: 139px;
    height: 49px;
    background: #4270AD;
    box-shadow: 0 10px 15px rgba(66, 112, 173, 0.12);
    border-radius: 5px;
    border: 2px solid #4270AD;
    color: #fff;
    font-size: 14px;
    margin-left: 20px;
    margin-right: 20px;
}
.applyFilterPrice:hover{
    background: transparent;
    color: #4270AD;
}
.applyFilterPrice.disabled{

}
.arrows{
    width: 20px;
    height: 10px;
    margin: 0 10px;
}
.checkboxWrap,.viewWrap{
    display: flex;
    align-items: center;
}
.viewWrap p{
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #666666;
}
.viewWrap svg{
    color:#C4C4C4;
    margin-left: 15px;
}
.viewWrap svg.activeView{
    color: #4270AD;
}
@media screen and (max-width: 992px) {
    .rowFilters{
        flex-wrap: wrap;
    }
    .priceFilter{
        margin-bottom: 20px;
    }
}
@media screen and (max-width: 650px) {
    .rowFilters{
        flex-direction: column;
        align-items: baseline;
    }
    .checkboxWrap{
        margin-bottom: 20px;
    }
    .priceFilter label{
        width: 132px;
        padding: 0 9px;
    }
    .checkboxWrap{

    }
}