.wrapp {
    position: relative;
    height: 42px;
    margin: 5px 0;
}
  .input, .errorInput {
    width: 100%;
  }
  .input {
    border: 1px solid #c4c4c4;
      height: auto;
      min-height: 1.4375em;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      border-radius: 4px;
      cursor: pointer;
      padding: 16.5px 14px;
  }
  .errorInput{
    border-color: #d465a8;
  }
  .textError{
    position: absolute;
    bottom: 0;
    left: 8px;
    margin: 0;
    color: darkred;
    font-size: 14px;
  }




